body {
  background-color: aqua;
}
#ingles {
  margin: 100px 0 0 350px;
}
#github {
  margin: 100px 0 0 350px;
}
#php {
  margin: -390px 0 0 700px;
}
#java {
  margin: 90px 0 0 700px;
}
